body{
    background-position-x: center;
    background-position-y: center;
     background-size: cover;
     background-repeat: no-repeat;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
.heading{
    width: 100%;
    padding: 20px;
    font-size: 23px;
    position: fixed;
}
.footer{
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    line-height: -3;
    position: fixed;
}
.main .btn{
    border-radius: 0px;
    font-size: 15px;
}
canvas{
    background-color: white;
    height: 440px;
    width: 1000px;
    opacity: 0.7;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}